<aside class="sidebar">
  <div class="sidebar-section">
    <div class="section-header blue">
      <svg class="section-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" width="16" height="16">
        <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
      </svg>
      <span>CLIENT / CAISSE</span>
    </div>
    <ul class="menu-list">
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Client physique</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Visa adhésion</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Opération caisse</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Enregistrer billetage</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Valider billetage</a></li>
    </ul>
  </div>

  <div class="sidebar-section">
    <div class="section-header green">
      <svg class="section-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" width="16" height="16">
        <path d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
      </svg>
      <span>COMPTABILITE</span>
    </div>
    <ul class="menu-list">
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Création compte comptable</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Consultation plan comptable</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Saisie d'écriture</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Bon de commande</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Facture directe</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Opérations diverses</a></li>
      <li><a class="menu-item">
        <span class="item-arrow">▸</span>Vir compte à compte</a></li>
    </ul>
  </div>
</aside>
